.list__item {
  padding: 16px;
  border-radius: 16px;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  transition: opacity 0.3s ease;
}

.item__title {
  color: black;
  border: none;
  background: none;
  width: 100%;
  font-size: 16px;
}

.list__item:has(.item__checkbox:checked):not(:has(.item__title:focus)) {
  opacity: 0.5;
}

.list__item:has(.item__checkbox:checked) > .item__title:not(:focus) {
  text-decoration: line-through;
}
